.App {
    background: #10154C;
    position: relative;
}

.form-input-group {
    margin: 20px 0;
}

.form-control {
    padding: 20px 15px;
}

.card {
    margin: 10px 0;
}

.list-container {
    max-height: 100vh;
    overflow-y: auto;
}